[submodule "lib/rdma-core"]
	path = lib/rdma-core
	url = https://github.com/linux-rdma/rdma-core.git
[submodule "lib/log.c"]
	path = lib/log.c
	url = https://github.com/yulistic/log.c.git
[submodule "lib/c-thread-pool"]
	path = lib/c-thread-pool
	url = git@github.com:casys-kaist-internal/oxbow_c-thread-pool.code.git
